.container .search-container {
    display: block;
    background-color: #1f2937;
    border: 1px solid #374151;
    border-radius: 10px;
    margin: 20px;
    padding: 1em
}

.container .search-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    background-color: var(--primarydark-color);
    border: 0;
    border-bottom: 1px solid #374151;
    border-radius: 8px;
    padding: .5em
}

.container .search-container input[type=text] {
    width: 100%;
    max-width: 600px;
    padding: .5em;
    border-radius: 8px;
    color: #fff;
    background-color: var(--dark-color);
    border: 0;
    border-bottom: 1px solid #374151
}

.container .search-container input[type=text]:focus {
    outline: 0;
    border-bottom: 1px solid var(--primary-color)
}

.container .resume-container {
    display: grid;
    background-color: #1f2937;
    border: 1px solid #374151;
    border-radius: 10px;
    margin: 20px;
    padding: 1em;
    gap: 1em;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr))
}

.container .resume-card {
    background-color: var(--primarydark-color);
    border: 0;
    border-bottom: 1px solid #374151;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
}

.container .resume-card .image {
    padding: 10px;
    border-bottom: 1px solid #374151;
    background-color: var(--dark-color);
    border-radius: 8px
}

.container .image img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px
}

.container .resume-card-header {
    padding: .5em;
    border-radius: 8px;
    background-color: var(--dark-color);
    border: 0;
    border-bottom: 1px solid #374151;
    margin: 1em
}

.container .resume-card-header h3 {
    margin: 0;
    color: var(--primary-color)
}

.container .resume-card-body {
    padding: .5em;
    border-radius: 8px;
    background-color: var(--dark-color);
    border: 0;
    border-bottom: 1px solid #374151;
    margin: 1em;
    word-wrap: break-word;
    max-height: fit-content;
}

.container .resume-card-footer {
    display: flex;
    padding: .5em;
    background-color: var(--primarydark-color);
    flex-direction: column;
}

.container .resume-card-footer button {
    background-color: var(--dark-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: color .15s ease-in;
    border: 0;
    border-radius: 8px;
    padding: .5em;
    border-bottom: 1px solid #374151;
    width: 49%;
}

.container .resume-card-footer button:hover {
    color: var(--button-hover-bg-color);
    border-bottom: 1px solid var(--button-hover-bg-color)
}

.container .resume-card-footer button svg, .container .resume-card-footer button i {
    font-size: 1em;
    text-shadow: 1px 1px 0 #374151
}

.container .resume-card-footer button:hover svg, .container .resume-card-footer button:hover i {
    text-shadow: 1px 1px 0 var(--background-color)
}

.episode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin: 1px;
    background: var(--dark);
    border-radius: 8px;
    border-bottom: 1px solid #374151;
}

.episode-footer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.episode-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-image {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i.fas.fa-image {
    font-size: 150px;
}
